$color-primary-dark: #12161f;
$color-primary-light: #ffffff;
$color-accent-primary: #f3d983;
$color-accent-secondary: #cee9e5;
$color-accent-secondary-m: #6b9196;
$color-accent-secondary-l: #585c5d;
$color-error: #c51c1c;
$color-error-xs: #f9e7e7;
